<form>
  <label for="author">Author</label>
  {{input value=author id="author"}}
  <label for="answer">Answer</label>
  {{input value=answer id="answer"}}
  <button {{action 'save'}}>Add answer</button>
</form>
