<div class="container">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1>Luca's Message Board</h1>
        <h3>Instructions:</h3>
        <ul>
          <li>With the forms in the right column, you can create questions and tags (which you can delete too).</li>
          <li>The "add to favourites" button which is found under the questions, adds question to the favourites which are listed at the bottom of the page.</li>
          <li>By clicking on a question, you can access its detail page. From here answer the question or upvote other answers. You can also tag the question</li>
          <li>By clicking on a tag in the right column, you can see all the questions tagged with that specific topic.</li>
        </ul>
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}Homepage{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>
  <hr>
    {{outlet}}
  <hr>
</div>
