<div class="container">
  <header>
    <h1>Luca's Message Board</h1>
    <br>
    {{#link-to 'index'}}Homepage{{/link-to}}
  </header>
  <hr>
    {{outlet}}
  <hr>
  <!-- <footer>

  </footer> -->
</div>
