<div class="row">
  <div class="col-md-8">
    {{question-tile questions=model}}
  </div>
  <div class="col-md-4">
    {{new-question save="save"}}
  </div>
</div>
{{new-tag saveTag="saveTag"}}
<hr>
{{favourite-questions-tile}}
